<div id="fws_5c07b186f3d35"  data-midnight="light" data-top-percent="5%" data-bottom-percent="1%"  data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row top-level full-width-section parallax_section   "  style="padding-top: calc(100vw * 0.05); padding-bottom: calc(100vw * 0.01); ">
  <div class="row-bg-wrap">
    <div class="inner-wrap">
      <div class="row-bg using-image   " data-parallax-speed="slow" style="background-image: url(/images/{{ .Page.Params.image }}); background-position: left top; background-repeat: no-repeat; "></div>
    </div>
    <div class="row-bg-overlay" style="background-color:#000000;  opacity: 0.5; ">
    </div>
  </div>
  <div class="col span_12 light left">
    <div  class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"  data-t-w-inherits="default" data-border-radius="none" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="solid" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
      <div class="column-bg-overlay"></div>
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h1 style="text-align: left" class="vc_custom_heading welcome" >{{ .Title }}</h1>
        </div> 
      </div>
    </div> 
  </div>
</div>