<!-- <meta http-equiv="Content-Type"  charset=UTF-8" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title>{{ .Title }} - konfidas.de</title>
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }} - konfidas.de" />
<meta property="og:description" content="{{ .Summary | truncate 155 }}" />
<meta property="og:url" content="/en/home/" />
<meta property="og:site_name" content="konfidas.de" />
<meta name="twitter:description" content="{{ .Summary | truncate 155 }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }} - konfidas.de" />
<meta name="description" content="{{ .Description }}">
<link rel='shortlink' href='{{ .Permalink }}' />
<link rel="icon" href="/images/konfidas_Favicon-100x100.png" sizes="32x32" />
<link rel="icon" href="/images/konfidas_Favicon-300x300.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/images/konfidas_Favicon-300x300.png" />
<meta name="msapplication-TileImage" content="/images/konfidas_Favicon-300x300.png" />
<link rel = "stylesheet" href = "/css/styles.css"/>
<link rel = "stylesheet" href = "/css/custom.css"/>

